---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About OLDHOME",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			We work following the OLDHOME manifesto.
		</p>
		<p>Members:</p>
		<ul class="list-inside list-disc" role="list">
			<li>yule pelcman</li>
			<li>imori pelcman</li>
			<li>uKuKu</li>
			<li>Einzvach</li>
			<li>TunaYukke</li>
			<li>Minai</li>
		</ul>
		<p>
			This website is based on <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">astro-cactus</a
			> .
		</p>
	</div>
</PageLayout>
